################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cruise_manager/.vs/Cruise_manager/FileContentIndex
