@page "/Cruise"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using Cruise_manager.Components.Data;
@using Microsoft.AspNetCore.Mvc
@using System.Web

<body>
    @for(int i =0; i < Cruises.Count; i++)
    {
        <div>

        </div>
    }
</body>

@code {
    List<Cruises> Cruises = new List<Cruises>();

}
