@page "/"

<PageTitle>Home</PageTitle>

<style>
	.title{
		margin-top: 10%;
		margin-left: 10%;
	}
	.photos{
		display: grid;
		grid-template-rows: 1;
		grid-template-columns: 4;
	}
</style>
<body style="background-image: url('/Resources/Ocean.jpg'); background-size: cover; background-position: center;">
	<h2 style="color: white; width: 20%; font-size: 48px" class="title">
		Enjoy our wide arangment of cruises across the seven seas
	</h2>
	<div class="Photos">
		<img src="~/Resources/1.png"/>
	</div>
</body>
