@page "/"

<PageTitle>Home</PageTitle>

<style>
    .title {
        margin-top: 10%;
        margin-left: 10%;
    }

    .Photos {
        display: inline-flex;
        gap: 10px;
        align-items: center;
        margin-right: 10%; 
    }
</style>
<body style="background-image: url('/Resources/Ocean.jpg'); background-size: cover; background-position: center;">
    <div style="display: grid; grid-template-rows: 1; grid-template-columns: 2;">
        <h2 style="color: white; grid-column: 1; width: 20%; font-size: 36px" class="title">
            Enjoy our wide arangment of cruises across the seven seas
        </h2>
        <div class="Photos" style="grid-column: 2;">
            <img src="/Resources/1.png" height="300px" width="150px">
            <img src="/Resources/2.png" height="300px" width="150px">
            <img src="/Resources/3.png" height="300px" width="150px">
            <img src="/Resources/4.png" height="300px" width="150px">
        </div>
    </div>
</body>

