@page "/"

<PageTitle>Home</PageTitle>
<header style="background-image: url('/Resources/Ocean.jpg'); background-size: cover; background-position: center;">
	<h2 style="color: white; width: 20%;">
		Enjoy our wide arangment of cruises across the seven seas
	</h2>
</header>

Welcome to your new app.
