@inherits LayoutComponentBase

<style>
    .top-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

        .top-row button {
            order: 1;
            margin-right: auto;
        }

        .top-row a {
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .top-row h1 {
            order: 3;
            margin-left: auto;
        }

    .button {
        border: none;
        color: black;
        background-image: linear-gradient(white, lightblue);
        border-radius: 12px;
        padding: 8px 16px;
        cursor: pointer;
        text-align: center;
    }
</style>

<script>
    function toggleNavVisibility() {
        var navElement = document.getElementsByClassName("Nav")[0];
        navElement.style.display = (navElement.style.display === "none") ? "block" : "none";
    }
</script>

<div class="page">
    <div class="Nav">
        <NavMenu />
    </div>


    <main>
        <div class="top-row">
            <button onclick="toggleNavVisibility()" class="button">Show me more</button>
            <a href="/"><img src="Resources/logo.png" height="50px" width="50px" alt="Logo"></a>
            <h1>Cruiser</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
